[build]
  base = "."
  publish = "frontend/.next"
  command = "npm run build"

[functions]
  directory = "functions"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true
